.img-detalle-rec{
   height: 370px;
   width: 107.7%;
   overflow: hidden;
   margin-left: -2em;
}

.article__recdetalle-desc{
   display: flex;
   align-items: center;
   margin-bottom: .6em;
   padding-bottom: .6em;
}
